<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Vue Js</title>
</head>
<body>
    <div id="Moka-App">
        <h1>Welcome to Vue Js Course</h1>
        <ul>
            <li v-for="skill in skills">
                {{skill}}
            </li>
        </ul>
        <ul>
            <li v-for="(skill, index) in skills">
                {{index+1}}- {{skill}}

            </li>
        </ul>
        <ul>
            <li v-for="(test, index) in CompletedTests">        
            {{index+1}}- {{test.testName}} Result is {{test.testResult}}
            </li>
        </ul>
    </div>

    <script src="js/vue.js"></script>
    <script>
    var vm = new Vue({
        el:'#Moka-App',
        data:{
            name:'Hassan',
            date:'Today',
            age:'24',
            skills:['HTML','CSS','JavaScript','Vue.js'],
            isSubscriped: false,
            theDate:'',
            CompletedTests:[
                {
                testName : 'Test Number One',
                testResult: '80%'
                },
                {
                testName : 'Test Number Two',
                testResult: '70%'
                },
                {
                testName : 'Test Number Three',
                testResult: '60%'
                },
            ],

        },
    })
    </script>
</body>
</html>